@page
@using BusinessDays.Models;
@using System.Text.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<form method="post" class="container">
    <div class="row form-group">
        <label for="datepicker">Select Date:</label>
        <select asp-items="Html.GetEnumSelectList<State>()" asp-for="ChosenDay.States" multiple class="form-select" aria-label="state"></select>

        <input class="btn btn-primary mt-3" type="submit" value="Check It" />
    </div>

    <div class="row">
        <div class="col-12">@Model.Result</div>
        <div class="col-12">Total of public holidays: @Model.PublicHolidays.Count</div>
    </div>
</form>

<div class="my-5 border"></div>*@

<form method="post" class="container" asp-page-handler="CheckYear">
    <h3 class="text-center">Check Holiday</h3>
    <div class="row g-4">
        <div class="col-md-6">
            <div class="form-floating">
                <input type="date" class="form-control" asp-for="ChosenDay.Date">
                <label for="ChosenDay_Date">When:</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <select asp-items="Html.GetEnumSelectList<State>()" asp-for="ChosenDay.States" multiple class="form-select" aria-label="ChosenDay.States">
                    <option selected>EVERYWHERE!</option>
                </select>
                <label for="ChosenDay_States">Where:</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input type="number" inputmode="numeric" class="form-control" asp-for="ChosenDay.DaysToAdd">
                <label for="ChosenDay_DaysToAdd">Days to add:</label>
            </div>
        </div>

        <div class="col-md">
            <input class="btn btn-outline-primary w-100 h-100" type="submit" value="Check It" />
        </div>
    </div>
</form>

<div class="container">
    <div class="row mt-5">
        <div class="col-md text-center">
            <h3>Result</h3>
            <textarea readonly class="form-control" style="min-height: 300px">
                @Html.Raw(Model.Result)
        </textarea>

            <div class="col-12 fw-bolder">Total of public holidays: @Model.PublicHolidays.Count</div>
        </div>
    </div>
</div>
