@page
@using BusinessDays.Models;
@using System.Text.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<form method="post" class="container">
    <div class="row form-group">
        <label for="datepicker">Select Date:</label>
        <select asp-items="Html.GetEnumSelectList<State>()" asp-for="ChosenDay.States" multiple class="form-select" aria-label="state"></select>

        <input class="btn btn-primary mt-3" type="submit" value="Check It" />
    </div>

    <div class="row">
        <div class="col-12">@Model.Result</div>
        <div class="col-12">Total of public holidays: @Model.PublicHolidays.Count</div>
    </div>
</form>

<div class="my-5 border"></div>*@

<form method="post" class="container" asp-page-handler="CheckYear">
    <div class="row form-group">
        @*<label for="year">Select Year:</label>
        <select class="form-select" aria-label="year">
        <option selected>2023</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        </select>
        *@
        <input type="date" class="form-control" asp-for="ChosenDay.Date">
        <select asp-items="Html.GetEnumSelectList<State>()" asp-for="ChosenDay.States" multiple class="form-select" aria-label="state"></select>
        <label for="DaysToAdd">Days to add:</label>
        <input type="number" class="form-control" asp-for="DaysToAdd">

        <input class="btn btn-primary mt-3" type="submit" value="Check It" />
    </div>


    <div class="row">
        <textarea readonly class="form-control" rows="10">
            @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.PublicHolidays, new JsonSerializerOptions { WriteIndented = true, IncludeFields = true, Converters = { new StateEnumConverter() } }))
        </textarea>

        <div class="col-12">Total of public holidays: @Model.PublicHolidays.Count</div>
    </div>
</form>
